<meta name="google-site-verification" content="JZzkWz-2xdPzjBJKPsVHHDZnEvemDowucsucAEHKPM4" />
<meta name="keywords" content="Anish Kalsi, astronomy, astrophysics, PhD student, eclipsing binary stars, detached eclipsing binaries, stellar astrophysics, stellar evolution, X-ray binaries, low-mass X-ray binaries, LMXB, Be stars, B stars, gamma-ray bursts, GRB, machine learning astrophysics, NCAC, CAMK PAS, Nicolaus Copernicus Astronomical Center, Warsaw, Poland, INTEGRAL, Gaia, photometry, spectroscopy" />
<meta name="author" content="Anish Kalsi" />
<meta property="og:type" content="profile" />
<meta property="og:site_name" content="Anish Kalsi–Astronomy PhD" />
<meta property="profile:first_name" content="Anish" />
<meta property="profile:last_name" content="Kalsi" />